In [1]:
import pandas as pd

In [8]:
def get_data(year):
    df = pd.read_csv("data/"+str(year)+".txt", sep="\t", skiprows=2)
    df = df[["Age","Total Number"]]
    df.columns = ["age",str(year)]
    return df

ped = get_data(1994)
for y in range(1995, 2015):
    ped = pd.merge(ped, get_data(y), on="age", how="outer")

In [9]:
ped[ped["age"] == "Total"].transpose()

         13
age   Total
1994     63
1995     48
1996     50
1997     53
1998     45
1999     51
2000     48
2001     33
2002     50
2003     35
2004     27
2005     34
2006     38
2007     32
2008     47
2009     26
2010     46
2011     26
2012     43
2013     37
2014     47

In [10]:
ped.to_csv ("pedestrian_deaths_by_age_over_time.csv")

In [7]:
ped[ped["age"] == "Total"].to_csv ("total_pedestrian_deaths_over_time.csv")